
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


* {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    background: white;

}

header {
    background: #3A2F95;
    padding-top: 33px;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    /* box-shadow: 0px 5px 10px #000;  */
    width: 100%;
    z-index: 100;
}

header .container-xl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 10px;
}

header .logo {
    font-size: 20px;
    font-weight: 900;
    color: white;
    transition: .5s;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

header .logo:hover {
    transform: scale(1.2);
    transform-origin: center;
}

.logo-name {
    text-align: center;
    align-items: center;
    display: flex;
}

header nav ul li{
    position: relative;
    float: left;
}

header nav ul li a {
    padding: 10px;
    color: white;
    font-size: 16px;
    display: block;
    text-decoration: none;
}

header nav ul li a:hover {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

nav ul li ul {
    padding-left: 0;
    position: absolute;
    left: 0;
    width: 180px;
    background:#3A2F95;
    color: #ffffff;
    display: none;
    border-radius: 5px;;
    border: 1px solid rgba(253, 253, 253, 0.733);
}

nav ul li ul li {
    width: 100%;
    /* border: 1px solid rgba(253, 253, 253, 0.733); */
    border-radius: 4px;
}

nav ul li ul li:hover{
    border-top: 1px solid rgba(253, 253, 253, 0.304);
    border-bottom: 1px solid rgba(253, 253, 253, 0.304);
}

nav ul li:hover > ul {
    display: initial;
    transition: all 0.6s;
}

.slogan {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);

}

@keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    margin-right: 10px;
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

.departments {
    background: #3A2F95;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

.department {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding-top: 98px;
    padding-bottom: 153px;
    
}

.department-img {
    height: 445px;
    object-fit: cover;
    border-radius: 50px;
    border: none;
    
}



.card {
    animation: 2s anim-lineUp ease-out ;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.card {
    background: #B93123;
    border-radius: 50px;
    text-align: center;
    border: none;
    transition: .5s;
}

.department .card:hover {
    transform: scale(1.1);
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.about-card {
    width: 500px;
    background: #B93123;
    border-radius: 50px;
    filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.5));
    margin: 12px;
}

.about-us .container-xl {
    background-image: url(/images/o-dIgChqd4o.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    backdrop-filter: blur(10px);
    /* background: linear-gradient(180deg, #B3B3B3 0%, rgba(217, 217, 217, 0) 100%); */
    
    
}

.about-header {
    align-items: center;
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
    height: 90px;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.about-body {
    height: 418px;
    background: #841A0F;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}


.about-title {
    padding-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    font-size: 18px;
}

.about-text {
    margin: 20px;
    /* margin-top: ;
    margin-left: 20px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    font-size: 16,5px;
}



.contacts  {
    background: #3A2F95;
}

.col-contacts {
    display: flex;
    justify-content: space-between;

}

.contacts-details{
    width: 500px;
    height: 450px;
    background: #B93123;
    border-radius: 50px;
    align-items: center;

    filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.5));
    margin: 40px 5px 40px 5px;
}

.contacts-header {
    width: 100%;
    height: 90px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.contacts-body1 {
    height: 90px;
    background: #841A0F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-body2 {
    height: 90px;
    background: #B93123;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-body-left {
    width: 50%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 510;
    font-size: 16,5px;
}

.contacts-body-right {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    font-size: 16,5px;
}

.place-body-left {
    width: 30%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 510;
    font-size: 16,5px;
}

.place-body-right {
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    font-size: 16,5px;
}

.leadership-card {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.card-img-lead {
    height: 445px;
    object-fit: cover;
    border-radius: 50px;
    border: none;
}

.leadership {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Leadership-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Leadership-Positions {
    background-color: #B93123;
    width: 570px;
    height: 125px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    justify-items: center;

    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    font-size: 40px;
}

.card-text-title {
    height: 36px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 510;
    font-size: 16,5px;
}

.card-text-body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16,5px;
}

footer {
    width: 100%;
    height: 330px;
    background: #3A2F95;
    flex-shrink: 0;

}

.footer-name-school {
    padding-top: 100px;
    display: flex;
    justify-content: start;
}

.social {
    float: left;
}

.social-img {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-right: 20px;
}

.orange {
    color: #B93123;
}

main {
    flex-grow: 1;
}

main .container-xl {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-card {
    width: 70%;
    background: #B93123;
    border-radius: 50px;
    filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.5));
    margin: 100px 40px 100px 40px;
}

.news-header {
    align-items: center;
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    height: 20%;
}

.news-body {
    padding-top: 20px;
    text-align: center;
    height: 80%;
    background: #841A0F;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 17px;
}

main-log {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-card {
    width: 400px;
    height: 300px;
    background: #B93123;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .log input {
    border: none;
    border-bottom: 1px solid;
    background: none;
} */

.password input {
    border: none;
    border-bottom: 1px solid;
    background: none;
    outline: 0;
}

.password, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    
}

.log-button input{
    margin-top: 20px;
    border: none;
    background: #3A2F95;
    border-radius: 20px;
    width: 40%;
    color: white;
    height: 100%px;
}